
@{
    ViewBag.Title = "RegistrarAsignatura";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link href="~/Content/img/favicons/favicon1.png" rel="icon">
    <link href="~/Content/img/favicons/favicon2.png" rel="icon">
    <link href="~/Content/img/favicons/favicon3.png" rel="icon">
    <link rel="stylesheet" href="/Content/css/main.css">



    <title>Registrar asignatura</title>
</head>

<body>

    <!--==========================
      Header
    ============================-->

    <ul>
        <li class="logo"> <a href="/Admin"><img src="~/Content/img/logo.png" /></li></a>
        <li class="navbar_option"><a href="/Admin/Logout">Cerrar sesión</a></li>
        <li class="navbar_option"><a href="/Admin">Home</a></li>

    </ul>

    <div class="container_custom">
        <div class="form__top">
            <h2> <span>Registrar asignatura</span></h2>
        </div>
        <form class="form__reg" action="@Url.Action("RegistrarAsignatura", "Admin")" method="post">


            <input class="input" name="clave" type="text" placeholder="&#128273;  Clave" required autofocus>
            <input class="input" name="nombre"type="text" placeholder="&#128221;  Nombre" required autofocus>
            <input class="input" name="Creditos"type="text" placeholder="&#128091;  Créditos" required>

            <div>
                @ViewBag.message
            </div>

            <div class="btn__form">
                <input class="btn__submit" type="submit" value="REGISTRAR">
                <input class="btn__reset" type="reset" value="LIMPIAR">
            </div>
        </form>
    </div>
</body>
</html>

